@using System.Security.Claims;
@using ChatWebSite.HtmlHelpers;
@model Chat
@{
    ViewData["Title"] = "Chat";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
}
@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

<div class="messagebox">
    <div class="messagebox__wrapper">
        @foreach (var message in Model.Messages)
        {
            @Html.CreateMessage(message, userId);
            @*<div class="message">
                    <div class="message__wrapper">
                        <div>@message.User.UserName</div>
                        <div>@message.User.Login</div>
                        <span>@message.Content</span>
                        <span class="text-muted">@message.Timestamp</span>
                    </div>
                </div>*@
            @*if (message.UserId == userId)
                {
                    <div class="UserMessage mb-3 d-flex box-shadow-mini">
                        <div>
                            <div>@message.User.UserName</div>
                            <span>@message.Content</span>
                            <span class="text-muted">@message.Timestamp</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="Message mb-3 d-flex box-shadow-mini">
                        <div>
                            <div>@message.User.UserName</div>
                            <span>@message.Content</span>
                            <span class="text-muted">@message.Timestamp</span>
                        </div>
                    </div>
                }*@
        }
    </div>
</div>
<div class="write">
    <div class="form-block write__form-block">
        <form asp-action="CreateMessage" asp-controller="Home" method="post" class="form write-form">
            
                <input type="hidden" name="chatId" value="@Model.Id" />
                <input type="text" name="content" placeholder="Введите сообщение" class="text-input write-form__text-input" />
                <input type="submit" class="button write-form__button" value="Отправить" />
            
        </form>
    </div>
</div>
